/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars dt {
   position: relative;
   margin-top: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars dt em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
/* 	text-transform: uppercase; */
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bars dd {
  	margin-bottom: 60px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}
.html {
  	width: 75%;
  	-moz-animation: html 2s ease;
  	-webkit-animation: html 2s ease;
}
.css {
  	width: 65%;
  	-moz-animation: css 2s ease;
  	-webkit-animation: css 2s ease;
}
.javascript {
  	width: 70%;
  	-moz-animation: javascript 2s ease;
  	-webkit-animation: javascript 2s ease;
}
.php {
  	width: 80%;
  	-moz-animation: php 2s ease;
  	-webkit-animation: php 2s ease;
}
.ios {
  	width: 30%;
  	-moz-animation: ios 2s ease;
  	-webkit-animation: ios 2s ease;
}

@-moz-keyframes html {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}
@-moz-keyframes css {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}
@-moz-keyframes javascript {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-moz-keyframes php {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes ios {
  0%   { width: 0px;  }
  100% { width: 30%;  }
}

@-webkit-keyframes html {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}
@-webkit-keyframes css {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}
@-webkit-keyframes javascript {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-webkit-keyframes php {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes ios {
  0%   { width: 0px;  }
  100% { width: 30%;  }
}
